<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MKWiiCTC2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MKWiiCTC2.Properties.Settings>
            <setting name="courses" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="blender" serializeAs="String">
                <value />
            </setting>
            <setting name="szs" serializeAs="String">
                <value />
            </setting>
            <setting name="brawlbox" serializeAs="String">
                <value />
            </setting>
            <setting name="dolphin" serializeAs="String">
                <value />
            </setting>
            <setting name="cloud" serializeAs="String">
                <value />
            </setting>
            <setting name="modifier" serializeAs="String">
                <value />
            </setting>
            <setting name="lorenzis" serializeAs="String">
                <value />
            </setting>
            <setting name="fbx" serializeAs="String">
                <value />
            </setting>
            <setting name="model" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="extra" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sketchup" serializeAs="String">
                <value />
            </setting>
            <setting name="brres" serializeAs="String">
                <value />
            </setting>
            <setting name="dsmax" serializeAs="String">
                <value />
            </setting>
            <setting name="last" serializeAs="String">
                <value>None Selected</value>
            </setting>
            <setting name="help" serializeAs="String">
                <value>0</value>
            </setting>
        </MKWiiCTC2.Properties.Settings>
    </userSettings>
</configuration>
